# Question 1:

In [1]:
import pandas as pd

In [2]:
user = pd.read_csv('mydata.csv')
user

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [3]:
user.groupby(['occupation']).age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [4]:
user['gender'].apply(lambda x: 1 if x == 'M' else 0)

0      1
1      0
2      1
3      1
4      0
      ..
938    0
939    1
940    1
941    0
942    1
Name: gender, Length: 943, dtype: int64

In [5]:
user.groupby(['occupation']).gender.count()

occupation
administrator     79
artist            28
doctor             7
educator          95
engineer          67
entertainment     18
executive         32
healthcare        16
homemaker          7
lawyer            12
librarian         51
marketing         26
none               9
other            105
programmer        66
retired           14
salesman          12
scientist         31
student          196
technician        27
writer            45
Name: gender, dtype: int64

In [6]:
df1 = user.groupby(['occupation']).age.min()
df2 = user.groupby(['occupation']).age.max()
result = pd.concat([df1, df2], axis=1)
df3 = result.set_axis(['min', 'max'], axis=1, inplace=False)
df3

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

In [7]:
user.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [8]:
occ_by_gender = user.groupby(['occupation', 'gender']).gender.count()
occ_by_gender

occupation     gender
administrator  F          36
               M          43
artist         F          13
               M          15
doctor         M           7
educator       F          26
               M          69
engineer       F           2
               M          65
entertainment  F           2
               M          16
executive      F           3
               M          29
healthcare     F          11
               M           5
homemaker      F           6
               M           1
lawyer         F           2
               M          10
librarian      F          29
               M          22
marketing      F          10
               M          16
none           F           4
               M           5
other          F          36
               M          69
programmer     F           6
               M          60
retired        F           1
               M          13
salesman       F           3
               M           9
scientist      F           3
               M          28
student        F          60
               M         136
technician     F           1
               M          26
writer         F          19
               M          26
Name: gender, dtype: int64

In [9]:
count_by_occ = user.groupby('occupation').gender.count()
count_by_occ

occupation
administrator     79
artist            28
doctor             7
educator          95
engineer          67
entertainment     18
executive         32
healthcare        16
homemaker          7
lawyer            12
librarian         51
marketing         26
none               9
other            105
programmer        66
retired           14
salesman          12
scientist         31
student          196
technician        27
writer            45
Name: gender, dtype: int64

In [10]:
result1 = occ_by_gender.div(count_by_occ,level= 'occupation')

In [11]:
result1

occupation     gender
administrator  F         0.455696
               M         0.544304
artist         F         0.464286
               M         0.535714
doctor         M         1.000000
educator       F         0.273684
               M         0.726316
engineer       F         0.029851
               M         0.970149
entertainment  F         0.111111
               M         0.888889
executive      F         0.093750
               M         0.906250
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         F         0.166667
               M         0.833333
librarian      F         0.568627
               M         0.431373
marketing      F         0.384615
               M         0.615385
none           F         0.444444
               M         0.555556
other          F         0.342857
               M         0.657143
programmer     F         0.090909
               M         0.909091
retired        F         0.071429
               M         0.928571
salesman       F         0.250000
               M         0.750000
scientist      F         0.096774
               M         0.903226
student        F         0.306122
               M         0.693878
technician     F         0.037037
               M         0.962963
writer         F         0.422222
               M         0.577778
Name: gender, dtype: float64

# Question 2:

In [12]:
import pandas as pd

In [13]:
euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')

In [14]:
euro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [15]:
euro12['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [16]:
euro12.Team.count()

16

In [17]:
len(euro12.columns)

35

In [18]:
discipline = euro12[['Team', 'Red Cards','Yellow Cards']]
discipline

                   Team  Red Cards  Yellow Cards
0               Croatia          0             9
1        Czech Republic          0             7
2               Denmark          0             4
3               England          0             5
4                France          0             6
5               Germany          0             4
6                Greece          1             9
7                 Italy          0            16
8           Netherlands          0             5
9                Poland          1             7
10             Portugal          0            12
11  Republic of Ireland          1             6
12               Russia          0             6
13                Spain          0            11
14               Sweden          0             7
15              Ukraine          0             5

In [19]:
discipline.sort_values(by=['Red Cards', 'Yellow Cards'])

                   Team  Red Cards  Yellow Cards
2               Denmark          0             4
5               Germany          0             4
3               England          0             5
8           Netherlands          0             5
15              Ukraine          0             5
4                France          0             6
12               Russia          0             6
1        Czech Republic          0             7
14               Sweden          0             7
0               Croatia          0             9
13                Spain          0            11
10             Portugal          0            12
7                 Italy          0            16
11  Republic of Ireland          1             6
9                Poland          1             7
6                Greece          1             9

In [20]:
discipline['Yellow Cards'].mean()

7.4375

In [21]:
euro12[euro12['Goals']>6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [22]:
GTeams = euro12[euro12['Team'].str.startswith('G'or 'g')]
GTeams

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [23]:
first_7_Columns = euro12.iloc[:, 0:7]
first_7_Columns

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

In [24]:
except_last_3_columns = euro12.iloc[:, 0:-3]
except_last_3_columns

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

In [25]:
Accuracy_shooting = euro12.loc[euro12['Team'].isin(['England','Italy','Russia'])]
Accuracy_shooting[['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

# Question 3:

In [26]:
import numpy as np

In [27]:
a = np.random.randint(1,5,100)
a.shape

(100,)

In [28]:
b = np.random.randint(1,4,100)
b

array([2, 3, 1, 1, 1, 1, 2, 1, 3, 1, 3, 3, 2, 1, 3, 3, 3, 1, 2, 3, 3, 1,
       1, 2, 1, 3, 2, 1, 1, 2, 3, 1, 3, 1, 3, 1, 3, 2, 3, 2, 2, 3, 1, 2,
       1, 2, 2, 1, 2, 3, 3, 1, 1, 1, 3, 3, 3, 1, 1, 1, 1, 1, 1, 3, 1, 3,
       3, 2, 3, 2, 2, 1, 3, 2, 3, 3, 3, 2, 1, 1, 1, 1, 2, 2, 1, 3, 2, 1,
       2, 2, 1, 2, 1, 2, 2, 3, 1, 1, 3, 1])

In [29]:
c = np.random.randint(10000,30000,100)
c

array([26782, 17943, 15580, 10179, 14466, 11252, 25221, 20552, 18896,
       16573, 23611, 29010, 12841, 29545, 15268, 25601, 23221, 28779,
       12894, 13341, 14760, 17920, 25767, 27053, 22572, 11834, 28280,
       28358, 25096, 18347, 19213, 20476, 21156, 27254, 29636, 13429,
       12794, 20494, 24964, 12035, 10391, 24030, 20724, 29615, 14931,
       16400, 28204, 20451, 12845, 28357, 13833, 13819, 14141, 26536,
       14291, 22574, 27744, 20285, 21763, 17532, 21548, 11662, 17616,
       24105, 14389, 18729, 10980, 20608, 12120, 11009, 19244, 26047,
       10628, 11512, 29542, 14931, 22653, 13576, 26116, 21484, 22717,
       10393, 25171, 12805, 17434, 28860, 17543, 20393, 23172, 28556,
       19379, 24375, 29190, 18408, 18079, 22133, 26324, 11420, 12926,
       15877])

In [30]:
series1 = pd.Series(a)
series2 = pd.Series(b)
series3 = pd.Series(c)

In [31]:
df1 = pd.concat([series1,series2,series3],axis=1)
df1.columns = ['bedrs','bathrs','price_sqr_meter']
df1

    bedrs  bathrs  price_sqr_meter
0       1       2            26782
1       2       3            17943
2       2       1            15580
3       2       1            10179
4       2       1            14466
..    ...     ...              ...
95      4       3            22133
96      1       1            26324
97      2       1            11420
98      1       3            12926
99      2       1            15877

[100 rows x 3 columns]

In [32]:
bigcolumn = pd.concat([series1,series2,series3],axis=0)
bigcolumn

0         1
1         2
2         2
3         2
4         2
      ...
95    22133
96    26324
97    11420
98    12926
99    15877
Length: 300, dtype: int32

In [33]:
len(bigcolumn) #so the answer of the question "Ops it seems it is going only until index 99. Is it true?" --> no because the length of the bigcolumn is 300.

300

In [34]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

0          1
1          2
2          2
3          2
4          2
       ...
295    22133
296    26324
297    11420
298    12926
299    15877
Length: 300, dtype: int32

# Question 4:

In [35]:
import pandas as pd
import numpy as np

In [36]:
data = pd.read_csv('wind.txt',sep = '\s+')
data

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [37]:
data["Date"] = pd.to_datetime(data[["Dy","Mo","Yr"]].astype(str).agg('/'.join, axis=1))

In [38]:
data.drop(data.columns[[0,1,2]],axis=1, inplace=True)

In [39]:
data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,2061-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,2061-02-01
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,2061-03-01
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,2061-04-01
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,2061-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978-12-27
6570,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978-12-28
6571,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978-12-29
6572,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978-12-30
6573,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978-12-31

As we can not have future data I think this data is historical and instead of 2061 there should be 1961.

In [40]:
data["Date"] = np.where(pd.DatetimeIndex(data["Date"]).year < 2000,data.Date,data.Date - pd.offsets.DateOffset(years=100))

In [41]:
data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-02-01
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-03-01
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-04-01
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978-12-27
6570,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978-12-28
6571,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978-12-29
6572,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978-12-30
6573,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978-12-31

In [42]:
data['Date'].dtype

dtype('<M8[ns]')

In [43]:
data.set_index('Date',inplace = True)

In [44]:
data.index.astype("datetime64[ns]")

DatetimeIndex(['1961-01-01', '1961-02-01', '1961-03-01', '1961-04-01',
               '1961-05-01', '1961-06-01', '1961-07-01', '1961-08-01',
               '1961-09-01', '1961-10-01',
               ...
               '1978-12-22', '1978-12-23', '1978-12-24', '1978-12-25',
               '1978-12-26', '1978-12-27', '1978-12-28', '1978-12-29',
               '1978-12-30', '1978-12-31'],
              dtype='datetime64[ns]', name='Date', length=6574, freq=None)

In [45]:
data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-02-01,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-03-01,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-04-01,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-05-01,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [46]:
sum(data.isnull().values.ravel())

31

In [47]:
sum(data.count())

78857

In [48]:
wind_by_category = data.mean()
overallMeanOfWind = wind_by_category.mean()

In [49]:
overallMeanOfWind

10.227982360836924

In [50]:
mydata = data.describe().transpose()
mydata

      count       mean       std   min    25%    50%    75%    max
RPT  6568.0  12.362987  5.618413  0.67   8.12  11.71  15.92  35.80
VAL  6571.0  10.644314  5.267356  0.21   6.67  10.17  14.04  33.37
ROS  6572.0  11.660526  5.008450  1.50   8.00  10.92  14.67  33.84
KIL  6569.0   6.306468  3.605811  0.00   3.58   5.75   8.42  28.46
SHA  6572.0  10.455834  4.936125  0.13   6.75   9.96  13.54  37.54
BIR  6574.0   7.092254  3.968683  0.00   4.00   6.83   9.67  26.16
DUB  6571.0   9.797343  4.977555  0.00   6.00   9.21  12.96  30.37
CLA  6572.0   8.495053  4.499449  0.00   5.09   8.08  11.42  31.08
MUL  6571.0   8.493590  4.166872  0.00   5.37   8.17  11.19  25.88
CLO  6573.0   8.707332  4.503954  0.04   5.33   8.29  11.63  28.21
BEL  6574.0  13.121007  5.835037  0.13   8.71  12.50  16.88  42.38
MAL  6570.0  15.599079  6.699794  0.67  10.71  15.00  19.83  42.54

In [51]:
loc_stats = mydata[['min','max','mean']].transpose()
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.00000,0.040000,0.130000,0.670000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.88000,28.210000,42.380000,42.540000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.49359,8.707332,13.121007,15.599079

In [52]:
def stats(day):
    day = pd.Series(day)
    Min = day.min()
    Max = day.max()
    Mean = day.mean()
    Std = day.std()
    mystats = [Min,Max,Mean,Std]
    indx = ["Min","Max","Mean","Std"]
    mystats = pd.Series(mystats,index=indx)
    return mystats

In [53]:
day_stats = data.apply(stats,axis=1)
day_stats.head(10)

             Min    Max       Mean       Std
Date
1961-01-01  9.29  18.50  13.018182  2.808875
1961-02-01  6.50  17.54  11.336364  3.188994
1961-03-01  6.17  18.50  11.641818  3.681912
1961-04-01  1.79  11.75   6.619167  3.198126
1961-05-01  6.17  13.33  10.630000  2.445356
1961-06-01  4.42  13.21   8.240000  2.998063
1961-07-01  4.96  14.29  10.385000  3.072114
1961-08-01  5.91  16.62  10.487500  3.547237
1961-09-01  4.75  15.37   9.897500  2.905954
1961-10-01  6.54  19.50  10.477500  3.442610

In [54]:
data[data.index.month == 1].mean()

RPT    14.271257
VAL    12.466219
ROS    12.803961
KIL     7.082599
SHA    11.548507
BIR     7.944803
DUB    11.265000
CLA     9.425699
MUL     9.356679
CLO     9.782025
BEL    14.277885
MAL    17.290467
dtype: float64

In [55]:
print( "Yearly:\n", data.resample('Y').mean())

Yearly:
                   RPT        VAL        ROS       KIL        SHA       BIR  \
Date
1961-12-31  12.299583  10.351796  11.362369  6.958227  10.881763  7.729726
1962-12-31  12.246923  10.110438  11.732712  6.960440  10.657918  7.393068
1963-12-31  12.813452  10.836986  12.541151  7.330055  11.724110  8.434712
1964-12-31  12.363661  10.920164  12.104372  6.787787  11.454481  7.570874
1965-12-31  12.451370  11.075534  11.848767  6.858466  11.024795  7.478110
1966-12-31  13.461973  11.557205  12.020630  7.345726  11.805041  7.793671
1967-12-31  12.737151  10.990986  11.739397  7.143425  11.630740  7.368164
1968-12-31  11.835628  10.468197  11.409754  6.477678  10.760765  6.067322
1969-12-31  11.166356   9.723699  10.902000  5.767973   9.873918  6.189973
1970-12-31  12.600329  10.726932  11.730247  6.217178  10.567370  7.609452
1971-12-31  11.273123   9.095178  11.088329  5.241507   9.440329  6.097151
1972-12-31  12.463962  10.561311  12.058333  5.929699   9.430410  6.358825
1973-12-31  11.828466  10.680493  10.680493  5.547863   9.640877  6.548740
1974-12-31  13.643096  11.811781  12.336356  6.427041  11.110986  6.809781
1975-12-31  12.008575  10.293836  11.564712  5.269096   9.190082  5.668521
1976-12-31  11.737842  10.203115  10.761230  5.109426   8.846339  6.311038
1977-12-31  13.099616  11.144493  12.627836  6.073945  10.003836  8.586438
1978-12-31  12.504356  11.044274  11.380000  6.082356  10.167233  7.650658

                  DUB        CLA       MUL        CLO        BEL        MAL
Date
1961-12-31   9.733923   8.858788  8.647652   9.835577  13.502795  13.680773
1962-12-31  11.020712   8.793753  8.316822   9.676247  12.930685  14.323956
1963-12-31  11.075699  10.336548  8.903589  10.224438  13.638877  14.999014
1964-12-31  10.259153   9.467350  7.789016  10.207951  13.740546  14.910301
1965-12-31  10.618712   8.879918  7.907425   9.918082  12.964247  15.591644
1966-12-31  10.579808   8.835096  8.514438   9.768959  14.265836  16.307260
1967-12-31  10.652027   9.325616  8.645014   9.547425  14.774548  17.135945
1968-12-31   8.859180   8.255519  7.224945   7.832978  12.808634  15.017486
1969-12-31   8.564493   7.711397  7.924521   7.754384  12.621233  15.762904
1970-12-31   9.609890   8.334630  9.297616   8.289808  13.183644  16.456027
1971-12-31   8.385890   6.757315  7.915370   7.229753  12.208932  15.025233
1972-12-31   9.704508   7.680792  8.357295   7.515273  12.727377  15.028716
1973-12-31   8.482110   7.614274  8.245534   7.812411  12.169699  15.441096
1974-12-31  10.084603   9.896986  9.331753   8.736356  13.252959  16.947671
1975-12-31   8.562603   7.843836  8.797945   7.382822  12.631671  15.307863
1976-12-31   9.149126   7.146202  8.883716   7.883087  12.332377  15.471448
1977-12-31  11.523205   8.378384  9.098192   8.821616  13.459068  16.590849
1978-12-31   9.489342   8.800466  9.089753   8.301699  12.967397  16.771370

In [56]:
print ("Monthly:", data.resample('M').mean())

NameError: name 'newData' is not defined

In [ ]:
print ("Weekly:", data.resample('W').mean())

In [ ]:
data.groupby(lambda x: (x.month,x.year)).mean()

In [ ]:
year1961 = data[data.index.year == 1961]
print("Weekly Mean for Year 1961:\n",year1961.resample('W').mean().mean())
print("Weekly Min for Year 1961:\n",year1961.resample('W').min().mean())
print("Weekly Max for Year 1961:\n",year1961.resample('W').max().mean())
print("Weekly Std for Year 1961:\n",year1961.resample('W').std().mean())

# Question 5:

In [ ]:
import pandas as pd

In [ ]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')
chipo

In [ ]:
chipo.head(10)

In [ ]:
chipo.shape[0]

In [ ]:
chipo.shape[1]

In [ ]:
chipo.columns

In [ ]:
chipo.index

In [ ]:
chipo['item_name'].value_counts()

In [ ]:
chipo['item_name'].nunique()

In [ ]:
chipo["choice_description"].value_counts().head()

In [ ]:
sum(chipo["quantity"])

In [ ]:
chipo['item_price'] = chipo.item_price.apply(lambda x: float(x[1:-1]))

In [ ]:
chipo.item_price.dtype

In [ ]:
sum(chipo["item_price"])

In [ ]:
chipo["order_id"].value_counts().count()

In [ ]:
chipo.tail()

In [ ]:
chipo_mean = chipo['item_price']/chipo['quantity']
chipo_mean.mean()

In [ ]:
chipo['item_name'].nunique()

# Question 6:

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df5 = pd.read_csv('us-marriages-divorces-1867-2014.csv')
df5

In [ ]:
df6 = df5[['Marriages_per_1000','Divorces_per_1000']]
print(df6)
df7 = df5['Year']
print(df7)

In [ ]:
my_columns = df6.columns

x_data = df7

fig, ax = plt.subplots()

for i in my_columns:
    ax.plot(x_data, df6[i])
ax.set_title('US Marriga & Divorce Dataset')
ax.legend(my_columns)

In [ ]:
df9 = df5[df5['Year'].apply(lambda x: x in [1900, 1950, 2000])]
df9

# Question 7:

In [ ]:
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.bar(df9['Year'],df9['Marriages'])
plt.show()

In [ ]:
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.bar(df9['Year'],df9['Divorces'])
plt.show()

# Question 8:

In [ ]:
df10 = pd.read_csv('actor_kill_counts.csv')
df10

In [ ]:
print(df10)
df10.sort_values(by=['Count'],ascending=False,inplace=True)
fig, ax = plt.subplots()

hbars = ax.barh(df10['Actor'],df10['Count'], align='center')
ax.set_yticks(df10['Actor'])
ax.invert_yaxis()  # labels read top-to-bottom
ax.set_xlabel('kills')
ax.set_ylabel('Actor')
ax.set_title('Actors with their kills:')

# Question 9:

In [ ]:
df11 = pd.read_csv('roman-emperor-reigns.csv')
df11

In [ ]:
df12= df11[df11['Cause_of_Death'].apply(lambda x: x in ['Assassinated'])]
df12

In [ ]:
z = df11.value_counts(['Cause_of_Death'])
mylabels = df11['Cause_of_Death'].unique()
print(z)
plt.pie(z,labels = mylabels)
plt.legend(loc = 'upper left')
plt.show()

# Question 10:

In [ ]:
df12 = pd.read_csv('arcade-revenue-vs-cs-doctorates.csv')
df12

In [ ]:
plt.scatter(df12['Computer Science Doctorates Awarded (US)'],df12['Total Arcade Revenue (billions)'])
plt.ylabel('Total Arcade Revenue (billions)')
plt.xlabel('Computer Science Doctorates Awarded (US)')
plt.title('scatter plot showing the relationship between the total revenue earned by arcades and the number of Computer Science PhDs awarded in the U.S. ')
plt.show()